In [93]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')
#모델
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelBinarizer
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from xgboost import XGBClassifier
from joblib import dump,load

In [2]:
data=pd.read_csv('train.csv')
real=pd.read_csv('test.csv')
submit=pd.read_csv('sample_submission.csv')

In [3]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [4]:
data.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
data.groupby(data.Transported)['Age'].mean()

Transported
False    29.922858
True     27.748834
Name: Age, dtype: float64

In [6]:
data.groupby(['VIP','Transported']).size()

VIP    Transported
False  False          4093
       True           4198
True   False           123
       True             76
dtype: int64

In [7]:
data.groupby(['Transported','HomePlanet']).size()

Transported  HomePlanet
False        Earth         2651
             Europa         727
             Mars           839
True         Earth         1951
             Europa        1404
             Mars           920
dtype: int64

In [8]:
data['Group']=data['PassengerId'].str[:4]

In [9]:
home_group=data.groupby(['Group','HomePlanet']).size().reset_index()
home_group

     Group HomePlanet  0
0     0001     Europa  1
1     0002      Earth  1
2     0003     Europa  2
3     0004      Earth  1
4     0005      Earth  1
...    ...        ... ..
6102  9275     Europa  3
6103  9276     Europa  1
6104  9278      Earth  1
6105  9279      Earth  1
6106  9280     Europa  2

[6107 rows x 3 columns]

In [10]:
home_group['Group']

0       0001
1       0002
2       0003
3       0004
4       0005
        ...
6102    9275
6103    9276
6104    9278
6105    9279
6106    9280
Name: Group, Length: 6107, dtype: object

In [11]:
home_group['HomePlanet']

0       Europa
1        Earth
2       Europa
3        Earth
4        Earth
         ...
6102    Europa
6103    Europa
6104     Earth
6105     Earth
6106    Europa
Name: HomePlanet, Length: 6107, dtype: object

In [12]:
data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
Group             0
dtype: int64

In [13]:
home_group[0].sum()

8492

In [14]:
home_dict={}
for i,j  in zip(home_group['Group'],home_group['HomePlanet']):
    home_dict[i]=j

In [15]:
home_dict

{'0001': 'Europa',
 '0002': 'Earth',
 '0003': 'Europa',
 '0004': 'Earth',
 '0005': 'Earth',
 '0006': 'Earth',
 '0007': 'Earth',
 '0008': 'Europa',
 '0009': 'Mars',
 '0010': 'Earth',
 '0011': 'Earth',
 '0012': 'Earth',
 '0014': 'Mars',
 '0015': 'Earth',
 '0016': 'Mars',
 '0017': 'Earth',
 '0020': 'Earth',
 '0022': 'Mars',
 '0024': 'Europa',
 '0025': 'Earth',
 '0026': 'Europa',
 '0028': 'Mars',
 '0030': 'Earth',
 '0031': 'Mars',
 '0034': 'Europa',
 '0035': 'Mars',
 '0036': 'Earth',
 '0038': 'Earth',
 '0039': 'Earth',
 '0041': 'Earth',
 '0043': 'Europa',
 '0044': 'Earth',
 '0045': 'Mars',
 '0050': 'Earth',
 '0051': 'Earth',
 '0052': 'Earth',
 '0053': 'Earth',
 '0056': 'Europa',
 '0058': 'Earth',
 '0061': 'Earth',
 '0062': 'Earth',
 '0064': 'Mars',
 '0066': 'Earth',
 '0067': 'Earth',
 '0068': 'Mars',
 '0069': 'Earth',
 '0070': 'Earth',
 '0071': 'Earth',
 '0072': 'Earth',
 '0073': 'Mars',
 '0074': 'Europa',
 '0076': 'Mars',
 '0077': 'Mars',
 '0078': 'Europa',
 '0081': 'Earth',
 '0082': 'Mars',
 '0084': 'Earth',
 '0085': 'Europa',
 '0086': 'Earth',
 '0088': 'Mars',
 '0090': 'Earth',
 '0091': 'Earth',
 '0092': 'Earth',
 '0097': 'Europa',
 '0098': 'Earth',
 '0099': 'Earth',
 '0101': 'Mars',
 '0102': 'Earth',
 '0103': 'Earth',
 '0105': 'Earth',
 '0107': 'Mars',
 '0108': 'Earth',
 '0110': 'Europa',
 '0111': 'Europa',
 '0112': 'Europa',
 '0113': 'Earth',
 '0114': 'Earth',
 '0115': 'Mars',
 '0116': 'Europa',
 '0119': 'Europa',
 '0120': 'Mars',
 '0122': 'Earth',
 '0123': 'Earth',
 '0126': 'Mars',
 '0127': 'Mars',
 '0128': 'Mars',
 '0129': 'Earth',
 '0133': 'Mars',
 '0134': 'Earth',
 '0136': 'Earth',
 '0138': 'Earth',
 '0139': 'Europa',
 '0140': 'Earth',
 '0141': 'Mars',
 '0144': 'Earth',
 '0146': 'Earth',
 '0147': 'Earth',
 '0148': 'Mars',
 '0149': 'Earth',
 '0151': 'Earth',
 '0152': 'Earth',
 '0160': 'Earth',
 '0163': 'Europa',
 '0164': 'Earth',
 '0165': 'Mars',
 '0167': 'Mars',
 '0169': 'Earth',
 '0170': 'Earth',
 '0171': 'Earth',
 '0172': 'Earth',
 '0173': 'Earth',
 '0174': 'Earth',
 '0177': 'Europa',
 '0178': 'Mars',
 '0179': 'Earth',
 '0181': 'Earth',
 '0182': 'Europa',
 '0183': 'Earth',
 '0186': 'Earth',
 '0188': 'Earth',
 '0189': 'Earth',
 '0190': 'Earth',
 '0192': 'Earth',
 '0193': 'Mars',
 '0195': 'Mars',
 '0196': 'Mars',
 '0197': 'Europa',
 '0198': 'Earth',
 '0199': 'Earth',
 '0200': 'Earth',
 '0201': 'Europa',
 '0202': 'Europa',
 '0203': 'Europa',
 '0205': 'Earth',
 '0206': 'Europa',
 '0207': 'Earth',
 '0211': 'Mars',
 '0212': 'Earth',
 '0213': 'Earth',
 '0216': 'Earth',
 '0217': 'Earth',
 '0219': 'Earth',
 '0220': 'Earth',
 '0221': 'Mars',
 '0222': 'Mars',
 '0223': 'Earth',
 '0224': 'Mars',
 '0225': 'Earth',
 '0229': 'Earth',
 '0231': 'Mars',
 '0232': 'Earth',
 '0233': 'Mars',
 '0234': 'Earth',
 '0237': 'Europa',
 '0239': 'Mars',
 '0240': 'Mars',
 '0241': 'Europa',
 '0243': 'Earth',
 '0244': 'Mars',
 '0245': 'Europa',
 '0246': 'Mars',
 '0248': 'Europa',
 '0250': 'Earth',
 '0252': 'Earth',
 '0253': 'Earth',
 '0254': 'Earth',
 '0255': 'Europa',
 '0257': 'Mars',
 '0258': 'Earth',
 '0260': 'Europa',
 '0261': 'Earth',
 '0263': 'Earth',
 '0265': 'Europa',
 '0267': 'Earth',
 '0269': 'Earth',
 '0270': 'Earth',
 '0275': 'Europa',
 '0277': 'Earth',
 '0278': 'Earth',
 '0281': 'Earth',
 '0282': 'Earth',
 '0283': 'Earth',
 '0285': 'Europa',
 '0286': 'Earth',
 '0287': 'Europa',
 '0288': 'Earth',
 '0289': 'Europa',
 '0290': 'Europa',
 '0291': 'Europa',
 '0294': 'Europa',
 '0297': 'Earth',
 '0298': 'Europa',
 '0301': 'Earth',
 '0302': 'Earth',
 '0304': 'Europa',
 '0305': 'Europa',
 '0306': 'Earth',
 '0307': 'Earth',
 '0309': 'Earth',
 '0310': 'Europa',
 '0313': 'Earth',
 '0314': 'Earth',
 '0316': 'Europa',
 '0320': 'Earth',
 '0322': 'Earth',
 '0324': 'Earth',
 '0326': 'Earth',
 '0327': 'Earth',
 '0330': 'Europa',
 '0331': 'Earth',
 '0333': 'Mars',
 '0334': 'Mars',
 '0336': 'Earth',
 '0337': 'Mars',
 '0338': 'Earth',
 '0340': 'Europa',
 '0341': 'Earth',
 '0343': 'Earth',
 '0345': 'Mars',
 '0346': 'Earth',
 '0347': 'Mars',
 '0348': 'Mars',
 '0350': 'Earth',
 '0352': 'Mars',
 '0355': 'Earth',
 '0356': 'Europa',
 '0357': 'Earth',
 '0358': 'Earth',
 '0359': 'Earth',
 '0360': 'Earth',
 '0361': 'Earth',
 '0365': 'Earth',
 '0368': 'Mars',
 '0369': 'Earth',
 '0370': 'Earth',
 '0371': 'Mars',
 '0372': 'Earth',
 '0373': 'Earth',
 '0375': 'Earth',
 '0376': 'Earth',
 '0377': 'Europa',
 '0378': 'Europa',
 '0379': 'Earth',
 '0380': 'Europa',
 '0381': 'Europa',
 '0383': 'Earth',
 '0384': 'Earth',
 '0385': 'Earth',
 '0387': 'Earth',
 '0388': 'Earth',
 '0389': 'Earth',
 '0391': 'Europa',
 '0392': 'Earth',
 '0395': 'Europa',
 '0396': 'Earth',
 '0397': 'Mars',
 '0398': 'Mars',
 '0401': 'Mars',
 '0403': 'Mars',
 '0405': 'Earth',
 '0407': 'Earth',
 '0408': 'Mars',
 '0409': 'Mars',
 '0410': 'Earth',
 '0411': 'Earth',
 '0412': 'Europa',
 '0413': 'Earth',
 '0415': 'Earth',
 '0417': 'Europa',
 '0423': 'Europa',
 '0425': 'Mars',
 '0427': 'Europa',
 '0428': 'Europa',
 '0429': 'Europa',
 '0430': 'Earth',
 '0431': 'Mars',
 '0432': 'Mars',
 '0433': 'Europa',
 '0434': 'Mars',
 '0435': 'Earth',
 '0436': 'Earth',
 '0437': 'Earth',
 '0438': 'Europa',
 '0439': 'Europa',
 '0441': 'Earth',
 '0442': 'Earth',
 '0444': 'Mars',
 '0445': 'Earth',
 '0446': 'Europa',
 '0447': 'Earth',
 '0448': 'Earth',
 '0449': 'Earth',
 '0452': 'Mars',
 '0453': 'Europa',
 '0454': 'Europa',
 '0456': 'Earth',
 '0457': 'Earth',
 '0458': 'Europa',
 '0459': 'Earth',
 '0460': 'Earth',
 '0461': 'Earth',
 '0462': 'Earth',
 '0463': 'Mars',
 '0465': 'Earth',
 '0466': 'Earth',
 '0468': 'Earth',
 '0470': 'Mars',
 '0471': 'Europa',
 '0472': 'Earth',
 '0474': 'Earth',
 '0475': 'Earth',
 '0476': 'Mars',
 '0477': 'Earth',
 '0480': 'Earth',
 '0481': 'Earth',
 '0482': 'Earth',
 '0485': 'Europa',
 '0487': 'Europa',
 '0488': 'Earth',
 '0490': 'Earth',
 '0498': 'Europa',
 '0499': 'Mars',
 '0500': 'Mars',
 '0501': 'Europa',
 '0502': 'Mars',
 '0503': 'Mars',
 '0504': 'Europa',
 '0506': 'Mars',
 '0507': 'Earth',
 '0510': 'Europa',
 '0512': 'Europa',
 '0513': 'Earth',
 '0515': 'Europa',
 '0516': 'Europa',
 '0517': 'Earth',
 '0519': 'Earth',
 '0520': 'Earth',
 '0521': 'Earth',
 '0522': 'Earth',
 '0523': 'Earth',
 '0525': 'Earth',
 '0527': 'Mars',
 '0528': 'Europa',
 '0529': 'Earth',
 '0531': 'Earth',
 '0533': 'Mars',
 '0534': 'Europa',
 '0537': 'Earth',
 '0538': 'Earth',
 '0539': 'Europa',
 '0540': 'Mars',
 '0542': 'Earth',
 '0545': 'Earth',
 '0546': 'Earth',
 '0547': 'Earth',
 '0548': 'Earth',
 '0549': 'Mars',
 '0550': 'Earth',
 '0551': 'Earth',
 '0552': 'Europa',
 '0553': 'Europa',
 '0555': 'Europa',
 '0556': 'Earth',
 '0559': 'Earth',
 '0560': 'Earth',
 '0561': 'Earth',
 '0563': 'Mars',
 '0564': 'Europa',
 '0565': 'Mars',
 '0566': 'Mars',
 '0567': 'Earth',
 '0568': 'Europa',
 '0569': 'Earth',
 '0570': 'Europa',
 '0571': 'Europa',
 '0572': 'Earth',
 '0573': 'Earth',
 '0575': 'Europa',
 '0576': 'Earth',
 '0577': 'Earth',
 '0579': 'Earth',
 '0580': 'Earth',
 '0581': 'Earth',
 '0582': 'Mars',
 '0583': 'Mars',
 '0585': 'Mars',
 '0586': 'Europa',
 '0587': 'Mars',
 '0588': 'Earth',
 '0589': 'Earth',
 '0590': 'Earth',
 '0591': 'Earth',
 '0593': 'Mars',
 '0594': 'Earth',
 '0596': 'Mars',
 '0597': 'Earth',
 '0598': 'Earth',
 '0599': 'Mars',
 '0600': 'Europa',
 '0602': 'Mars',
 '0603': 'Earth',
 '0607': 'Europa',
 '0608': 'Earth',
 '0609': 'Mars',
 '0610': 'Earth',
 '0611': 'Earth',
 '0612': 'Europa',
 '0614': 'Earth',
 '0615': 'Earth',
 '0618': 'Earth',
 '0619': 'Europa',
 '0623': 'Earth',
 '0628': 'Earth',
 '0629': 'Earth',
 '0630': 'Mars',
 '0631': 'Mars',
 '0633': 'Mars',
 '0634': 'Earth',
 '0635': 'Earth',
 '0636': 'Earth',
 '0637': 'Mars',
 '0638': 'Europa',
 '0639': 'Earth',
 '0641': 'Earth',
 '0642': 'Europa',
 '0643': 'Mars',
 '0644': 'Europa',
 '0645': 'Earth',
 '0646': 'Europa',
 '0647': 'Mars',
 '0650': 'Earth',
 '0653': 'Mars',
 '0655': 'Mars',
 '0656': 'Earth',
 '0657': 'Earth',
 '0658': 'Earth',
 '0659': 'Earth',
 '0660': 'Earth',
 '0661': 'Europa',
 '0663': 'Earth',
 '0664': 'Europa',
 '0665': 'Mars',
 '0668': 'Earth',
 '0669': 'Earth',
 '0671': 'Earth',
 '0672': 'Earth',
 '0674': 'Earth',
 '0677': 'Earth',
 '0678': 'Earth',
 '0679': 'Earth',
 '0680': 'Earth',
 '0682': 'Mars',
 '0683': 'Mars',
 '0684': 'Mars',
 '0685': 'Earth',
 '0686': 'Mars',
 '0687': 'Mars',
 '0688': 'Mars',
 '0689': 'Europa',
 '0690': 'Mars',
 '0691': 'Mars',
 '0693': 'Europa',
 '0696': 'Earth',
 '0697': 'Earth',
 '0699': 'Mars',
 '0701': 'Europa',
 '0702': 'Earth',
 '0703': 'Earth',
 '0704': 'Earth',
 '0705': 'Earth',
 '0707': 'Earth',
 '0709': 'Europa',
 '0710': 'Mars',
 '0712': 'Mars',
 '0713': 'Earth',
 '0714': 'Earth',
 '0715': 'Europa',
 '0718': 'Earth',
 '0719': 'Mars',
 '0724': 'Earth',
 '0726': 'Earth',
 '0727': 'Earth',
 '0728': 'Earth',
 '0729': 'Earth',
 '0732': 'Earth',
 '0733': 'Earth',
 '0734': 'Earth',
 '0736': 'Earth',
 '0737': 'Europa',
 '0738': 'Mars',
 '0740': 'Europa',
 '0743': 'Earth',
 '0746': 'Earth',
 '0750': 'Earth',
 '0753': 'Europa',
 '0754': 'Europa',
 '0756': 'Europa',
 '0757': 'Mars',
 '0761': 'Europa',
 '0762': 'Earth',
 '0764': 'Earth',
 '0765': 'Mars',
 '0767': 'Earth',
 '0768': 'Europa',
 '0769': 'Europa',
 '0770': 'Earth',
 '0771': 'Earth',
 '0772': 'Europa',
 '0773': 'Earth',
 '0776': 'Earth',
 '0777': 'Europa',
 '0779': 'Earth',
 '0781': 'Earth',
 '0782': 'Mars',
 '0784': 'Europa',
 '0785': 'Earth',
 '0786': 'Earth',
 '0787': 'Earth',
 '0788': 'Earth',
 '0789': 'Europa',
 '0790': 'Earth',
 '0791': 'Earth',
 '0793': 'Earth',
 '0794': 'Mars',
 '0795': 'Earth',
 '0796': 'Europa',
 '0797': 'Earth',
 '0798': 'Mars',
 '0799': 'Europa',
 '0802': 'Mars',
 '0805': 'Europa',
 '0806': 'Earth',
 '0808': 'Earth',
 '0809': 'Mars',
 '0811': 'Mars',
 '0813': 'Mars',
 '0815': 'Earth',
 '0816': 'Europa',
 '0817': 'Earth',
 '0818': 'Europa',
 '0819': 'Earth',
 '0820': 'Earth',
 '0822': 'Earth',
 '0823': 'Earth',
 '0824': 'Mars',
 '0825': 'Earth',
 '0826': 'Earth',
 '0828': 'Earth',
 '0829': 'Earth',
 '0830': 'Earth',
 '0833': 'Europa',
 '0834': 'Earth',
 '0835': 'Earth',
 '0836': 'Mars',
 '0839': 'Europa',
 '0840': 'Earth',
 '0845': 'Europa',
 '0846': 'Earth',
 '0848': 'Mars',
 '0849': 'Europa',
 '0850': 'Mars',
 '0851': 'Earth',
 '0859': 'Earth',
 '0860': 'Earth',
 '0863': 'Earth',
 '0865': 'Europa',
 '0867': 'Earth',
 '0868': 'Earth',
 '0869': 'Earth',
 '0870': 'Earth',
 '0871': 'Europa',
 '0873': 'Earth',
 '0874': 'Earth',
 '0875': 'Earth',
 '0876': 'Earth',
 '0877': 'Europa',
 '0878': 'Mars',
 '0879': 'Earth',
 '0881': 'Europa',
 '0883': 'Earth',
 '0885': 'Earth',
 '0889': 'Europa',
 '0890': 'Mars',
 '0893': 'Earth',
 '0898': 'Earth',
 '0899': 'Earth',
 '0901': 'Mars',
 '0902': 'Earth',
 '0903': 'Earth',
 '0904': 'Europa',
 '0905': 'Mars',
 '0906': 'Earth',
 '0907': 'Europa',
 '0910': 'Earth',
 '0911': 'Mars',
 '0912': 'Europa',
 '0913': 'Europa',
 '0915': 'Earth',
 '0918': 'Earth',
 '0919': 'Earth',
 '0921': 'Earth',
 '0922': 'Europa',
 '0923': 'Europa',
 '0924': 'Earth',
 '0925': 'Mars',
 '0926': 'Europa',
 '0927': 'Earth',
 '0928': 'Earth',
 '0930': 'Earth',
 '0931': 'Earth',
 '0932': 'Mars',
 '0933': 'Europa',
 '0935': 'Earth',
 '0938': 'Earth',
 '0939': 'Earth',
 '0940': 'Earth',
 '0941': 'Earth',
 '0942': 'Mars',
 '0944': 'Earth',
 '0946': 'Earth',
 '0947': 'Earth',
 '0949': 'Earth',
 '0951': 'Earth',
 '0952': 'Mars',
 '0953': 'Earth',
 '0955': 'Earth',
 '0956': 'Earth',
 '0957': 'Mars',
 '0960': 'Earth',
 '0961': 'Earth',
 '0964': 'Europa',
 '0965': 'Mars',
 '0966': 'Earth',
 '0968': 'Earth',
 '0969': 'Mars',
 '0970': 'Earth',
 '0971': 'Earth',
 '0972': 'Earth',
 '0975': 'Earth',
 '0976': 'Earth',
 '0978': 'Earth',
 '0979': 'Europa',
 '0982': 'Earth',
 '0983': 'Earth',
 '0984': 'Earth',
 '0985': 'Earth',
 '0987': 'Earth',
 '0988': 'Earth',
 '0989': 'Earth',
 '0990': 'Earth',
 '0991': 'Earth',
 '0992': 'Europa',
 '0993': 'Earth',
 '0994': 'Earth',
 '0995': 'Europa',
 '0997': 'Mars',
 '0998': 'Europa',
 '1000': 'Mars',
 '1001': 'Earth',
 '1002': 'Mars',
 '1004': 'Europa',
 '1005': 'Earth',
 '1006': 'Earth',
 '1008': 'Europa',
 '1011': 'Earth',
 '1012': 'Earth',
 '1013': 'Earth',
 '1014': 'Mars',
 '1015': 'Earth',
 '1017': 'Earth',
 '1018': 'Earth',
 '1019': 'Earth',
 '1020': 'Mars',
 '1022': 'Earth',
 '1024': 'Earth',
 '1025': 'Earth',
 '1026': 'Earth',
 '1027': 'Mars',
 '1029': 'Mars',
 '1030': 'Earth',
 '1031': 'Earth',
 '1032': 'Earth',
 '1033': 'Earth',
 '1034': 'Earth',
 '1035': 'Mars',
 '1036': 'Earth',
 '1038': 'Earth',
 '1040': 'Earth',
 '1041': 'Europa',
 '1043': 'Earth',
 '1045': 'Europa',
 '1046': 'Earth',
 '1047': 'Earth',
 '1048': 'Earth',
 '1049': 'Mars',
 '1051': 'Earth',
 '1052': 'Earth',
 '1053': 'Earth',
 '1054': 'Earth',
 '1056': 'Mars',
 '1057': 'Europa',
 '1058': 'Earth',
 '1060': 'Earth',
 '1062': 'Earth',
 '1063': 'Europa',
 '1065': 'Mars',
 '1066': 'Mars',
 '1068': 'Earth',
 '1075': 'Europa',
 '1076': 'Earth',
 '1077': 'Earth',
 '1078': 'Earth',
 '1079': 'Earth',
 '1080': 'Mars',
 '1082': 'Mars',
 '1083': 'Mars',
 '1084': 'Earth',
 '1085': 'Earth',
 '1086': 'Earth',
 '1088': 'Earth',
 '1089': 'Europa',
 '1091': 'Mars',
 '1093': 'Mars',
 '1094': 'Earth',
 '1095': 'Europa',
 '1096': 'Earth',
 '1097': 'Mars',
 '1099': 'Earth',
 '1100': 'Mars',
 '1102': 'Mars',
 '1105': 'Earth',
 '1108': 'Mars',
 '1110': 'Europa',
 '1112': 'Europa',
 '1113': 'Earth',
 '1114': 'Mars',
 '1115': 'Earth',
 '1116': 'Earth',
 '1117': 'Earth',
 '1121': 'Earth',
 '1123': 'Europa',
 '1127': 'Europa',
 '1129': 'Earth',
 '1130': 'Mars',
 '1132': 'Earth',
 '1133': 'Mars',
 '1134': 'Europa',
 '1136': 'Earth',
 '1140': 'Europa',
 '1141': 'Earth',
 '1142': 'Earth',
 '1144': 'Earth',
 '1146': 'Earth',
 '1147': 'Europa',
 '1148': 'Europa',
 '1149': 'Earth',
 '1150': 'Earth',
 '1152': 'Mars',
 '1153': 'Earth',
 '1154': 'Europa',
 '1155': 'Earth',
 '1156': 'Europa',
 '1161': 'Europa',
 '1162': 'Europa',
 '1163': 'Earth',
 '1165': 'Europa',
 '1166': 'Europa',
 '1167': 'Mars',
 '1168': 'Earth',
 '1169': 'Mars',
 '1170': 'Earth',
 '1173': 'Earth',
 '1174': 'Earth',
 '1175': 'Mars',
 '1177': 'Europa',
 '1178': 'Earth',
 '1179': 'Europa',
 '1180': 'Earth',
 '1182': 'Mars',
 '1185': 'Mars',
 '1186': 'Earth',
 '1187': 'Earth',
 '1188': 'Europa',
 '1190': 'Earth',
 '1191': 'Earth',
 '1192': 'Earth',
 '1193': 'Europa',
 '1195': 'Earth',
 '1197': 'Europa',
 '1198': 'Mars',
 '1199': 'Earth',
 '1203': 'Europa',
 '1206': 'Earth',
 '1208': 'Earth',
 '1210': 'Earth',
 '1211': 'Earth',
 '1212': 'Earth',
 '1213': 'Earth',
 '1214': 'Earth',
 '1215': 'Earth',
 '1216': 'Earth',
 '1218': 'Earth',
 '1220': 'Europa',
 '1221': 'Earth',
 '1222': 'Earth',
 '1223': 'Europa',
 '1225': 'Earth',
 '1228': 'Mars',
 '1229': 'Earth',
 '1230': 'Earth',
 '1231': 'Mars',
 '1232': 'Europa',
 '1233': 'Earth',
 '1234': 'Earth',
 '1235': 'Earth',
 '1236': 'Earth',
 '1238': 'Europa',
 '1239': 'Earth',
 '1240': 'Earth',
 '1242': 'Europa',
 '1243': 'Europa',
 '1246': 'Earth',
 '1248': 'Earth',
 '1250': 'Earth',
 '1254': 'Mars',
 '1255': 'Mars',
 '1256': 'Mars',
 '1258': 'Europa',
 '1259': 'Earth',
 '1260': 'Earth',
 '1261': 'Europa',
 '1263': 'Mars',
 '1264': 'Earth',
 '1267': 'Earth',
 '1269': 'Mars',
 '1271': 'Earth',
 '1273': 'Earth',
 '1274': 'Earth',
 '1278': 'Earth',
 '1279': 'Europa',
 '1280': 'Earth',
 '1281': 'Earth',
 '1282': 'Earth',
 '1283': 'Earth',
 '1284': 'Mars',
 '1285': 'Earth',
 '1286': 'Mars',
 '1287': 'Mars',
 '1288': 'Earth',
 '1289': 'Earth',
 '1291': 'Mars',
 '1292': 'Europa',
 '1293': 'Earth',
 '1294': 'Europa',
 '1295': 'Earth',
 '1299': 'Earth',
 '1300': 'Earth',
 '1302': 'Mars',
 '1304': 'Earth',
 '1306': 'Europa',
 '1307': 'Earth',
 '1308': 'Europa',
 '1309': 'Earth',
 '1310': 'Europa',
 '1311': 'Mars',
 '1312': 'Earth',
 '1316': 'Europa',
 '1317': 'Mars',
 '1322': 'Earth',
 '1323': 'Earth',
 '1324': 'Earth',
 '1325': 'Earth',
 '1326': 'Mars',
 '1328': 'Earth',
 '1330': 'Mars',
 '1331': 'Earth',
 '1332': 'Earth',
 '1333': 'Earth',
 '1335': 'Earth',
 '1336': 'Earth',
 '1337': 'Earth',
 '1340': 'Earth',
 '1342': 'Earth',
 '1345': 'Earth',
 '1348': 'Europa',
 '1350': 'Earth',
 '1351': 'Earth',
 '1352': 'Mars',
 '1353': 'Mars',
 '1355': 'Earth',
 '1356': 'Earth',
 '1357': 'Mars',
 '1360': 'Earth',
 '1362': 'Earth',
 '1365': 'Europa',
 '1366': 'Earth',
 '1368': 'Earth',
 '1370': 'Earth',
 '1371': 'Mars',
 '1375': 'Earth',
 '1376': 'Earth',
 '1377': 'Europa',
 '1378': 'Earth',
 '1379': 'Earth',
 '1380': 'Europa',
 '1381': 'Earth',
 '1382': 'Earth',
 '1383': 'Europa',
 '1384': 'Earth',
 '1386': 'Earth',
 '1387': 'Mars',
 '1389': 'Earth',
 '1390': 'Earth',
 '1391': 'Mars',
 '1393': 'Mars',
 '1395': 'Earth',
 '1397': 'Earth',
 '1398': 'Earth',
 '1399': 'Earth',
 '1400': 'Earth',
 '1401': 'Earth',
 '1402': 'Earth',
 '1403': 'Earth',
 '1404': 'Europa',
 '1406': 'Mars',
 '1407': 'Earth',
 '1408': 'Earth',
 '1410': 'Earth',
 '1412': 'Earth',
 '1413': 'Earth',
 '1414': 'Earth',
 '1415': 'Europa',
 '1416': 'Earth',
 '1417': 'Europa',
 '1419': 'Mars',
 '1420': 'Mars',
 '1421': 'Mars',
 '1423': 'Europa',
 '1424': 'Europa',
 '1425': 'Earth',
 '1426': 'Europa',
 '1427': 'Mars',
 '1428': 'Earth',
 '1430': 'Earth',
 '1431': 'Earth',
 '1433': 'Earth',
 '1434': 'Earth',
 '1435': 'Earth',
 '1438': 'Earth',
 '1439': 'Mars',
 '1440': 'Earth',
 '1442': 'Earth',
 '1443': 'Earth',
 '1444': 'Europa',
 '1445': 'Earth',
 '1447': 'Earth',
 '1450': 'Europa',
 '1451': 'Europa',
 '1452': 'Europa',
 '1453': 'Earth',
 '1454': 'Europa',
 '1455': 'Europa',
 '1457': 'Earth',
 '1460': 'Earth',
 '1461': 'Earth',
 '1462': 'Earth',
 '1463': 'Earth',
 '1465': 'Earth',
 '1474': 'Mars',
 '1478': 'Earth',
 '1479': 'Mars',
 '1481': 'Mars',
 '1484': 'Earth',
 '1485': 'Mars',
 '1488': 'Mars',
 '1489': 'Earth',
 '1490': 'Europa',
 '1491': 'Earth',
 '1493': 'Earth',
 '1498': 'Earth',
 '1499': 'Earth',
 '1500': 'Earth',
 '1501': 'Earth',
 '1503': 'Mars',
 '1506': 'Earth',
 '1507': 'Earth',
 '1509': 'Mars',
 '1510': 'Mars',
 '1511': 'Europa',
 '1515': 'Earth',
 '1520': 'Earth',
 '1521': 'Mars',
 '1523': 'Europa',
 '1524': 'Earth',
 '1525': 'Mars',
 '1526': 'Earth',
 '1527': 'Europa',
 '1528': 'Mars',
 '1529': 'Europa',
 '1531': 'Earth',
 ...}

In [16]:
data['Group'].map(home_dict)

0       Europa
1        Earth
2       Europa
3       Europa
4        Earth
         ...
8688    Europa
8689     Earth
8690     Earth
8691    Europa
8692    Europa
Name: Group, Length: 8693, dtype: object

In [17]:
data['HomePlanet'].fillna(data['Group'].map(home_dict),inplace=True)

In [18]:
data['HomePlanet'].isnull().sum()

111

In [19]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280

In [20]:
data['Name2']=data.Name.str.split(' ').str[-1]
data['Name2']

0         Ofracculy
1             Vines
2            Susent
3            Susent
4       Santantines
           ...
8688      Noxnuther
8689      Mondalley
8690         Connon
8691      Hontichre
8692      Hontichre
Name: Name2, Length: 8693, dtype: object

In [21]:
name_dict={}
for i,j  in zip(data['Name2'],home_group['HomePlanet']):
    name_dict[i]=j

In [22]:
data['HomePlanet'].fillna(data['Name2'].map(name_dict),inplace=True)

In [23]:
data['HomePlanet'].fillna('Earth',inplace=True)

In [24]:
data['HomePlanet'].isnull().sum()

0

In [25]:
data['VIP'].fillna(False,inplace=True)

In [26]:
data['VIP'].isnull().sum()

0

In [27]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'Group', 'Name2'],
      dtype='object')

In [28]:
data['Fee']=(data['RoomService']+ data['FoodCourt']+ data['ShoppingMall']+ data['Spa']+ data['VRDeck'])

In [29]:
fee_list=['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [30]:
for col in fee_list:
    print(col)
    data[col].fillna(data[col].median(),inplace=True)

RoomService
FoodCourt
ShoppingMall
Spa
VRDeck

In [31]:
data['Fee'].fillna(data.RoomService.median(),inplace=True)

In [32]:
data['Fee'].isnull().sum()

0

In [33]:
data['Cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [34]:
data['deck']=data['Cabin'].str.split('/').str[0]

In [35]:
data['side']=data['Cabin'].str.split('/').str[-1]

In [36]:
data.groupby(['HomePlanet','deck']).size()

HomePlanet  deck
Earth       B          1
            C          2
            D          3
            E        407
            F       1647
            G       2543
            T          1
Europa      A        255
            B        778
            C        744
            D        190
            E        131
            F          7
            G          7
            T          4
Mars        A          1
            C          1
            D        285
            E        338
            F       1140
            G          9
dtype: int64

In [37]:
data['deck'].fillna(data['HomePlanet'].map({'Earth':'G','Europa':'C','Mars':'F'}),inplace=True)

In [38]:
data['deck'].isnull().sum()

0

In [39]:
data['HomePlanet'].map({'Earth':'G','Europa':'C','Mars':'F'})

0       C
1       G
2       C
3       C
4       G
       ..
8688    C
8689    G
8690    G
8691    C
8692    C
Name: HomePlanet, Length: 8693, dtype: object

In [40]:
data.Group

0       0001
1       0002
2       0003
3       0003
4       0004
        ...
8688    9276
8689    9278
8690    9279
8691    9280
8692    9280
Name: Group, Length: 8693, dtype: object

In [41]:
side_group=data.groupby(['Group','side']).size().reset_index()

In [42]:
side_group

     Group side  0
0     0001    P  1
1     0002    S  1
2     0003    S  2
3     0004    S  1
4     0005    P  1
...    ...  ... ..
6113  9275    P  3
6114  9276    P  1
6115  9278    S  1
6116  9279    S  1
6117  9280    S  2

[6118 rows x 3 columns]

In [43]:
side_dict={}
for i,j in zip(side_group['Group'],side_group['side']):
    side_dict[i]=j

In [44]:
data['side'].fillna(data['Group'].map(side_dict),inplace=True)

In [45]:
data['side'].isnull().sum()

99

In [46]:
data['side'].fillna('S',inplace=True)

In [47]:
dest_group=data.groupby(['Group','Destination']).size().reset_index()
dest_group

     Group    Destination  0
0     0001    TRAPPIST-1e  1
1     0002    TRAPPIST-1e  1
2     0003    TRAPPIST-1e  2
3     0004    TRAPPIST-1e  1
4     0005  PSO J318.5-22  1
...    ...            ... ..
6875  9276    55 Cancri e  1
6876  9278  PSO J318.5-22  1
6877  9279    TRAPPIST-1e  1
6878  9280    55 Cancri e  1
6879  9280    TRAPPIST-1e  1

[6880 rows x 3 columns]

In [48]:
dest_group[dest_group['Group'].duplicated()]

     Group    Destination  0
8     0008    TRAPPIST-1e  1
17    0017    TRAPPIST-1e  1
19    0020  PSO J318.5-22  1
20    0020    TRAPPIST-1e  3
36    0044  PSO J318.5-22  1
...    ...            ... ..
6836  9219    TRAPPIST-1e  1
6838  9220    TRAPPIST-1e  2
6844  9227    TRAPPIST-1e  3
6847  9231    TRAPPIST-1e  2
6879  9280    TRAPPIST-1e  1

[766 rows x 3 columns]

In [49]:
dest_group=dest_group.sort_values(0,ascending=False)

In [50]:
dest_group=dest_group.drop_duplicates()

In [51]:
dest_dict={}
for i,j in zip(dest_group['Group'],dest_group['Destination']):
    dest_dict[i]=j

In [52]:
data['Destination'].fillna(data['Group'].map(dest_dict),inplace=True)

In [53]:
data['Destination'].isnull().sum()

103

In [54]:
data['Destination'].fillna('TRAPPIST-1e',inplace=True)

In [55]:
data['Destination'].isnull().sum()

0

In [56]:
data.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Cabin           199
Destination       0
Age             179
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
Group             0
Name2           200
Fee               0
deck              0
side              0
dtype: int64

In [57]:
data[data['CryoSleep'].isnull()]['Fee']

92         0.0
98       703.0
104     2018.0
111        0.0
152      990.0
         ...
8620       0.0
8651       0.0
8664       0.0
8675       0.0
8687    3540.0
Name: Fee, Length: 217, dtype: float64

In [58]:
data['CryoSleep']=np.where(data['Fee']>0,False,True)

In [59]:
data['CryoSleep'].isnull().sum()

0

In [60]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'Group', 'Name2', 'Fee', 'deck', 'side'],
      dtype='object')

In [61]:
data['Age'].fillna(data['Age'].median(),inplace=True)

In [62]:
data.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
Group             0
Name2           200
Fee               0
deck              0
side              0
dtype: int64

In [63]:
del_col=['PassengerId','Name','Name2','Cabin']

In [64]:
data=data.drop(del_col,axis=1)

In [65]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Fee,deck,side
0,Europa,True,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0001,0.0,B,P
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,0002,736.0,F,S
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0003,10383.0,A,S
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0003,5176.0,A,S
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,0004,1091.0,F,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,9276,8536.0,A,P
8689,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,9278,0.0,G,S
8690,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,9279,1873.0,G,S
8691,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,9280,4637.0,E,S
8692,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,9280,4826.0,E,S

In [66]:
data.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Group           0
Fee             0
deck            0
side            0
dtype: int64

In [67]:
value=data.dtypes.values
index=data.dtypes.index

In [68]:
value

array([dtype('O'), dtype('bool'), dtype('O'), dtype('float64'),
       dtype('bool'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('bool'), dtype('O'), dtype('float64'), dtype('O'),
       dtype('O')], dtype=object)

In [69]:
obj_list=[]
for i,j in list(zip(index,value)):
    if j=='object':
        obj_list.append(i)

In [70]:
obj_list

['HomePlanet', 'Destination', 'Group', 'deck', 'side']

In [71]:
bool_list=[]
for i,j in list(zip(index,value)):
    if j=='bool':
        bool_list.append(i)

In [72]:
bool_list

['CryoSleep', 'VIP', 'Transported']

In [73]:
label=LabelEncoder()

In [74]:
for col in obj_list:
    label=LabelEncoder()
    data[col]=label.fit_transform(data[col])

In [75]:
for col in bool_list:
    label=LabelEncoder()
    data[col]=label.fit_transform(data[col])

In [76]:
data.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Group           0
Fee             0
deck            0
side            0
dtype: int64

In [87]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Fee,deck,side
0,1,1,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1,0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,1,736.0,5,1
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,2,10383.0,0,1
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,2,5176.0,0,1
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,3,1091.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,6213,8536.0,0,0
8689,0,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0,6214,0.0,6,1
8690,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,6215,1873.0,6,1
8691,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,6216,4637.0,4,1
8692,1,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,6216,4826.0,4,1

In [77]:
X=data.drop('Transported',axis=1)
Y=data['Transported']

In [78]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [79]:
model1=RandomForestClassifier()
model2=LogisticRegression()
model3=SVC(probability=True)
model4=DecisionTreeClassifier()

In [80]:
model1.fit(x_train,y_train)

RandomForestClassifier()

In [81]:
model1.score(x_train,y_train)

0.999137187230371

In [82]:
model1.score(x_test,y_test)

0.7872340425531915

In [97]:
ss=ShuffleSplit(test_size=0.2,n_splits=10)

In [94]:
model=XGBClassifier()

In [96]:
param_grid={'n_estimators':[100,200,300,400,500],
           'learning_rate':[0.01,0.05,0.1,0.15,0.2],
           'max_depth':range(11),
           'gamma':[0,1,2,3,4,5],
           'sub_sample':[0.5,0.6,0.7,0.8,1]}

In [98]:
grid_xgb=GridSearchCV(model,param_grid=param_grid,n_jobs=-1,cv=ss)

In [100]:
model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [101]:
model.score(x_train,y_train)

0.9339948231233822

In [102]:
model.score(x_test,y_test)

0.79700977573318